@import "base";
@import "utilities";
@import "colors";

body {
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--bg);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header {
    height: 20vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4em;
    font-weight: 900;
}

h3 {
    font-size: 1.2em;
}

sup, sub {
    font-size: .6em;
    position: relative;
    vertical-align: baseline;
    top: -0.4em;
}

sub { 
    top: 0.4em;
}

section {
    min-width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
    font-size: .7em;
    font-weight: 500;
    line-height: 2em;
}

a {
    color: inherit;
    text-decoration: none;
    position: relative;
    font-weight: 700;
    &::after {
        content: "";
        position: absolute;
        width: 60%;
        height: 1px;
        background-color: var(--text-accent);
        left: 20%;
        bottom: -18%;
        transition: width .2s linear, left .2s linear;
    }
    &:hover::after {
        width: 90%;
        left: 5%;
    }
}

#calculator {
    background-color: var(--calculator-body);
    width: 39.3vh;
    max-width: 39.3vh;
    height: 55vh;
    border-radius: 3vh;
    box-shadow: 0 2vh 0 var(--calculator-body-edge), .5vh 5vh 7.5vh -0.5vh var(--calculator-body-shadow);
    overflow: hidden;
    display: grid;
    grid-template-rows: minmax(40%, 40%) minmax(60%, 60%);
    grid-template-columns: minmax(100%, 100%);
    &.hovered {
        animation: calc-hover .2s ease-in-out forwards;
    }
    &.unhovered {
        animation: calc-unhover .2s ease-in-out forwards;
    }
}

@keyframes calc-hover {
    from {
        transform: scale(1);
        box-shadow: 0 2vh 0 var(--calculator-body-edge), .5vh 5vh 7.5vh -0.5vh var(--calculator-body-shadow);
    }
    to {
        transform: scale(1.02);
        box-shadow: 0 2vh 0 var(--calculator-body-edge), 1vh 10vh 15vh -1vh var(--calculator-body-shadow);
    }
}

@keyframes calc-unhover {
    from {
        transform: scale(1.02);
        box-shadow: 0 2vh 0 var(--calculator-body-edge), 1vh 10vh 15vh -1vh var(--calculator-body-shadow);        
    }
    to {
        transform: scale(1);
        box-shadow: 0 2vh 0 var(--calculator-body-edge), .5vh 5vh 7.5vh -0.5vh var(--calculator-body-shadow);
    }
}


.upper-part {
    background-color: var(--calculator-accent);
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-wrapper {
    width: 85%;
    height: 75%;
    background-color: var(--display);
    border-radius: 1.5vh;
    box-shadow: 0 0 1vh -0.5vh var(--display-glow);
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    font-family: monospace;
}

.input {
    padding: 0 2% 0 0;
    flex-basis: 30%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: var(--display-text-primary);
    font-size: 1.25em;
    white-space: nowrap;
    max-width: 100%;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

}

#history-wrapper {
    padding: 0 2% 0 0;
    flex-basis: 70%;
    flex-grow: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    max-height: 80%;
    overflow-y: scroll;
    border-bottom: 1px solid var(--display-text-accent);
    color: var(--display-text-secondary);
    &::-webkit-scrollbar {
        display: none;
    }
}

.history-line {
    @include no-select;
    flex-shrink: 0;
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin: .2vh 0;
    cursor: pointer;
    &:first-child {
        margin-bottom: .8vh;
    }
    white-space: nowrap;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

.lower-part {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-wrapper {
    width: 75%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2vh;
}

.calculator-button {
    @include no-select;
    @include neutral-buttons;
    box-sizing: border-box;
    background-color: var(--digit);
    --edge-color: var(--digit-edge);
    box-shadow: 0 .6vh 0 0 var(--edge-color);
    border-radius: .4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow .05s linear, transform .05s linear;
    transform: translateY(0px);
    &.pressed {
        animation: button-press .1s ease-in-out forwards;
    }
    &.released {
        animation: button-release .1s ease-in-out forwards;
    }
}


@keyframes button-press {
    from {
        transform: translateY(0vh);
        box-shadow: 0 .6vh 0 0 var(--edge-color);        
    }
    to {
        transform: translateY(.4vh);
        box-shadow: 0 .2vh 0 0 var(--edge-color);        
    }
}

@keyframes button-release {
    from {
        transform: translateY(.4vh);
        box-shadow: 0 .2vh 0 0 var(--edge-color);        
    }
    to {
        transform: translateY(0vh);
        box-shadow: 0 .6vh 0 0 var(--edge-color);        
    }
}

.operator {
    background-color: var(--operator);
    --edge-color: var(--operator-edge);    
}
#equality {
    background-color: var(--equality);
    --edge-color: var(--equality-edge);
}
